:root{
  --primary-color: #edf2fc;
  --secondary-color: #212121 ;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}



.imgs-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
  padding-left: 150px;
  padding-top: 10px;
  margin: 60px;
}

.poke-imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btn-div {
  display: flex;
  flex: 1;
  justify-content: center;
}

button {
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  padding: 0.5em 1em;
  margin: 0.25em;
  border-radius: 1em;
  border: none;
  /* background: #dddddd; */
  cursor: pointer;
  font-weight: 900;
}

button:hover {
  background: #cccccc;
}

/* p {
  padding: 10px;
  margin-top: 80px;
  margin-left: 10px;
  margin-right: -110px;
  color: black;
  font-family:monospace;
  font-weight:800; 
  color: blue;
} */

.poke-imgs {
  height: 50px;
  margin-top: 30px;
  margin-right: 150px;
  padding: 50px;
  border: 1px rgb(200, 49, 49);
  border-radius: 100px; 
  border-style:dotted; 
}


h1 {
  display: flex;
  justify-content: center;
}

#icon {
  width: 70px;
  cursor: pointer;
}


/* #edf2fc */
/* #212121 */


i {
  font-size: 40ox;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
